:host {
  ::ng-deep .p-dropdown {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  ::ng-deep .p-inputtext {
    text-align: center;
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2em;
}

.addButton {
  display: flex;

}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
  align-items:flex-end;
}
