<div [formGroup]="newWordForm">
  <input
    type="text"
    placeholder="Your word"
    pInputText
    formControlName="word"
  />
  <input
    type="text"
    placeholder="Word translation"
    pInputText
    formControlName="translation"
  />
  <div formGroupName="filt">
    <p-dropdown
      [options]="dropdownWordsDifficulties"
      placeholder="Select difficulty"
      formControlName="difficulty"
      p-dropdownLabel
    ></p-dropdown>
    <p-dropdown
      [options]="dropdownWordsLanguage"
      placeholder="Select a Language"
      formControlName="lang"
    ></p-dropdown>
    <p-dropdown
      [options]="dropdownWordsClasses"
      placeholder="Select a Word Class"
      formControlName="class"
    ></p-dropdown>
  </div>
</div>
<div class="card flex justify-content-center">
  <p-button
    label="Submit"
    (onClick)="addNewWord()"
    [disabled]="isButtonDisabled()"
  ></p-button>
</div>

<app-words-list [wordsList]="words"></app-words-list>
